ul {
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    display: inline-block;
    margin: 0 5px;
    /* 字体横着正常显示 */
    white-space: nowrap;
}
ul li a {
    text-decoration: none;
    /* color: #000; */
}
::-webkit-scrollbar {
    display: none
}
.active {
    color: red;
}
.f {
    color: green;
}